services:
  mysql:
    image: "mysql:8.0.29"
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./script/mysql/:/docker-entrypoint-initdb.d/
    ports:
      - "13316:3306"

  redis:
    image: "redis"
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  etcd:
    image: "quay.io/coreos/etcd:v3.5.13"
    restart: always
    entrypoint:
      - ALLOW_NON_AUTHENTICATION=yes
    ports:
      - "2379:2379"
